source ~/.vimrc
set scrolloff=10

" --IdeaVim Specific
set sneak
set quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
"set NERDTree //configured in .vimrc
set which-key
set notimeout
"set easymotion
"set timeoutlen=1000
"set commentary
set ignorecase
set smartcase
set highlightedyank

" --My prepend keys are (\), (,), (leader), (g), (Ctrl)

" --Edit this file
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \v :action VimActions<CR>
nnoremap \s :action Switcher<CR>
nnoremap \c :action CollapseDocComments<CR>
nnoremap \x :action ExpandDocComments<CR>

" --Intellij Actions
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gh :action HideAllWindows<CR>
nnoremap g> :action MoveElementRight<CR>
nnoremap g< :action MoveElementLeft<CR>

sethandler <C-k> n-v:vim i:ide
nnoremap <C-k> :action MethodUp<CR>
nnoremap <C-j> :action MethodDown<CR>
nnoremap <C-l> :action NextTab<CR>
nnoremap <C-h> :action PreviousTab<CR>

map <CR> o<Esc>:action ReformatCode<CR>
map <Esc> <Esc>:action SaveAll<CR>

nnoremap <leader><leader> :action AceAction<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>
"nnoremap <leader>b :action Back<CR>
"nnoremap <leader>o :action Forward<CR>
nnoremap <leader>l :action AceLineAction<CR>
nnoremap <leader>p :action TogglePresentationMode<CR>
nnoremap <leader>q :action QuickImplementations<CR>
nnoremap <leader>x :action CloseContent<CR>
nnoremap <leader>z :action ToggleZenMode<CR>
nnoremap <leader>N :action NewScratchFile<CR>

nnoremap <leader>ch :action CallHierarchy<CR>
nnoremap <leader>ct :action JS.TypeScript.Compile<CR>
nnoremap <leader>db :action Debug<CR>
nnoremap <leader>df :action ToggleDistractionFreeMode<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>
nnoremap <leader>gi :action GotoImplementation<CR>
nnoremap <leader>mh :action MethodHierarchy<CR>
nnoremap <leader>re :action RenameElement<CR>
nnoremap <leader>rf :action RecentFiles<CR>
nnoremap <leader>rn :action Run<CR>
nnoremap <leader>rp :action $LRU<CR>
nnoremap <leader>rr :action ReRun<CR>
nnoremap <leader>se :action ShowErrorDescription<CR>
nnoremap <leader>ss :action ShowSettings<CR>
nnoremap <leader>sf :action ShowFilePath<CR>
nnoremap <leader>si :action SelectIn<CR>
nnoremap <Leader>sn :action ShowNavBar<CR>
nnoremap <leader>sp :action Stop<CR>
nnoremap <leader>sv :action MoveTabRight<CR>
nnoremap <leader>sh :action MoveTabDown<CR>
nnoremap <leader>sj :action NextSplitter<CR>
nnoremap <leader>su :action Unsplit<CR>
nnoremap <leader>th :action TypeHierarchy<CR>
nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>va :action ViewStatusBar<CR>:action ViewToolBar<CR>:action ViewToolButtons<CR>
nnoremap <leader>vs :action ViewStatusBar<CR>
nnoremap <leader>vt :action ViewToolBar<CR>
nnoremap <leader>vb :action ViewToolButtons<CR>
nnoremap <leader>yp :action CopyAbsolutePath<CR>

nnoremap ,c :action ContextRun<CR>
nnoremap ,d :action ActivateDatabaseToolWindow<CR>
nnoremap ,e :action Console.Jdbc.Execute<CR>
nnoremap ,r :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,s :action ShowPopupMenu<CR>
nnoremap ,a :action ShowHoverInfo<CR>
nnoremap ,p :action ActivateProjectToolWindow<CR>
nnoremap ,q :action QuickJavaDoc<CR>
nnoremap ,n :action NewElement<CR>
nnoremap ,v :action SelectInProjectView<CR>
nnoremap ,w :action FrameSwitchAction<CR>
"nnoremap ,d :action $Delete<CR>
"nnoremap ,a :action ResizeToolWindowUp<CR>
nnoremap <leader>k :action ResizeToolWindowUp<CR>
nnoremap <leader>j :action ResizeToolWindowDown<CR>
"nnoremap <leader>l :action ResizeToolWindowRight<CR>
"nnoremap <leader>h :action ResizeToolWindowLeft<CR>

" --Plugins
Plug 'justinmk/vim-sneak'
"Plug 'tommcdo/vim-exchange'
"Plug 'tpope/vim-surround'
"Plug 'machakann/vim-swap'
"Plug 'easymotion/vim-easymotion'
"map <leader>J <Plug>(easymotion-s)
"map <leader>j <Plug>(easymotion-f)